<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>

</head>
<body>

<div id="ng-app" ng-app="myApp" ng-controller="PrimaryController">

<ul> 
<div ng-repeat="post in posts">
<h2>
<a href="listing.html?#id={{post.id}}"><li>{{post.name.short}} {{contestants.checkedIn}}</li></a>
</div>
</ul>

</div>

<script>
var app = angular.module('myApp',[]);
app.controller('PrimaryController', function($scope,$http){
// Get URL from Email
     var url = "http://play.eslgaming.com/api/leagues?types=cup&limit.total=10&path=/play/starcraft/&state=finished"


// Get data from that url
      $http.get(url)
      .then(function(response) {
      $scope.posts = response.data;
	  
	  //Log data
	  console.log($scope.posts);
      });

});
</script>
</body>
</html>

