<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>

</head>
<body>

<div id="ng-app" ng-app="myApp" ng-controller="ListingController">


 
<h2 ng-show="noMatch">
No matches in this league
</h2>


<ul>
<div ng-repeat="contestant in contestants">
<li>NickName:{{contestant.nickname}}->Score:{{contestants.result.points}}</li></a>
</div>
</ul>



</div>

<script>
var app = angular.module('myApp',[]);
app.controller('ListingController', function($scope, $http, $location){

// set noMatch to false
var noMatch = false;

// Get ID from URL
var leagueID = $location.search().id;
// Use ID to get correct League
	var url = "http://play.eslgaming.com/api/leagues/" + leagueID + "/matches";
     $http.get(url).then(function(response) {
      	if (response.data.length<10) {
		//Check if there is any matches if not show message
      		noMatch = true;
      	}else{
          $scope.contestants = response.data;
		  // Log the data
		  console.log($scope.contestants);
      	}
      });

});

</script>
</body>
</html>

